<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/new.css">

<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Imagix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Support</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <% if(!(currentUser)) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Signed In as: <%= currentUser.username %>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>



<div class="container main " id="form">
    <h2>Edit Comment</h2>
    <div>
        <form action="/campgrounds/<%= camp._id %>/comments/<%=selectedComment.id %>" method="POST">
            <div class="form-group">
                <label for="examplecomment"></label>
                <input type="text" value="<%= selectedComment.text %>" name="text" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a style="font-size:13px" href="/campgrounds/<%= camp._id %>">Go back</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>